.page {
    min-width: 1100px;
    /* мы ещё не умеем делать мобильную версию сайта, */
    /* поэтому выше установлена минимальная ширина страницы */
    max-width: 1600px;
    /* выше установили ограничение по максимальной ширине */
    margin: 0 auto;
    /* выше для экранов больше 1600px отцентрировали весь контент */
    font-family: 'Helvetica Neue', Arial, sans-serif;
    background-color: #f2f2f2;
}

.header {
    height: 100vh;
    max-height: 756px;
    min-height: 600px;
    background: #f2f2f2;
    padding-left: 64px;
    position: relative;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 183px;
    height: 32px;
    z-index: 100;
}

.logo_place_header {
    top: 1px;
    position: absolute;
    display: block;
    top: 30px;
}

.header__main-illustration {
    width: 765px;
    height: 608px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}

.header__square-pic {
    width: 568px;
    height: 568px;
    position: absolute;
    top: 64px;
    right: 0px;
    background-color: #2f80ed;
    z-index: 0;
}

.header__title {
    margin: auto 0;
    width: 730px;
    height: auto;
    z-index: 10;
    font-size: 102px;
    font-weight: bold;
    line-height: 96px;
}

.header__subtitle {
    width: 388px;
    position: absolute;
    bottom: 30px;
    line-height: 25px;
    font-size: 18px;
    margin: 0;
    color: #000;
    z-index: 100;
}

.link {
    text-decoration: none;
    color: #2f80ed;
}

.content {
    display: flex;
    flex-direction: column;
    background-color: white;
}

.two-columns {
    display: flex;
    margin: 100px auto 0 auto;
    width: 80%;
    justify-content: space-between;
}

.two-columns__brief {
    line-height: 1.2em;
    font-size: 18px;
    color: #2f80ed;
    flex-direction: row;
    width: 175px;
    font-weight: normal;
}

.two-columns__main-text {
    display: flex;
    flex-direction: column;
    width: 80%;
    min-width: 784px;
}

.two-columns__paragraph {
    margin-top: 0;
    line-height: 34px;
    font-size: 24px;
}

.two-columns__paragraph:last-child {
    margin-bottom: 0;
}

.two-columns__span-accent {
    font-weight: bold;
}

.digits {
    display: flex;
    flex-direction: column;
    width: 1100px;
    margin: 100px auto;
    background-color: white;
}

.section-title {
    width: 60%;
    margin: 0px auto 20px auto;
    text-align: center;
    line-height: 1.15em;
    font-size: 60px;
    font-weight: bolder;
}

.section-subtitle {
    width: 60%;
    margin: auto;
    text-align: center;
    line-height: 34px;
    font-size: 24px;
}

.table {
    width: 1100px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

.table__cell {
    width: 250px;
    margin-top: 60px;
}

.table__heading {
    text-decoration: none;
    font-size: 24px;
    line-height: 1.15em;
}

.table__text {
    font-size: 18px;
    line-height: 1.2em;
    margin: 20px 0 0 0;
}

.feynman {
    display: flex;
    flex-direction: column;
    position: relative;
    height: 790px;
    margin: 0;
    padding-top: 100px;
    background-color: #f2f2f2;
}

.feynman__img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 867px;
    height: 637px;
}

.feynman__title {
    width: 648px;
    font-size: 120px;
    font-weight: bold;
    line-height: 1.15em;
    margin: 0 auto;
    z-index: 100;
    word-wrap: normal;
    text-align: center;
}

.feynman__subtitle {
    line-height: 51px;
    font-size: 36px;
    text-align: center;
    margin: 70px auto 0 auto;
    z-index: 100;
}

.feynman__link {
    position: absolute;
    top: 50%;
    right: 48px;
    line-height: 51px;
    font-size: 36px;
    color: #2f80ed;
    text-decoration: none;
}

.section-title__them_dark {
    display: block;
    background-color: #1f1f1f;
    position: relative;
    overflow: hidden;
}

.kaufman__body {
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #1f1f1f;
    overflow: hidden;
}

.section-title_theme_dark {
    display: block;
    position: relative;
    text-align: center;
    padding-top: 90px;
    padding-bottom: 20px;
    z-index: 1;
    line-height: 1.15em;
    font-size: 60px;
    font-weight: bold;
    margin: 0;
    color: #f2f2f2;
}

.section-subtitle_theme_dark {
    display: block;
    position: relative;
    text-align: center;
    z-index: 0;
    line-height: 34px;
    font-size: 24px;
    color: #f2f2f2;
    margin: 0;
}

.table_theme_dark {
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    color: #f2f2f2;
    width: 1100px;
    margin: 0 auto 90px auto;
    padding: 0;
}

.table__cell_theme_dark {
    width: 200px;
    padding-top: 80px;
    list-style-type: none;
    z-index: 10;
}

.table__heading_theme_dark {
    display: block;
    position: relative;
    width: 60%;
    z-index: 10;
    font-size: 24px;
    line-height: 1.15em;
    margin: 0 0 20px 0;
    color: #f2f2f2;
}

.table__text_theme_dark {
    font-size: 18px;
    line-height: 1.2em;
    margin: 0;
    z-index: 10;
}

.kaufman__triangle {
    position: absolute;
    right: -210px;
    width: 877px;
    height: 877px;
    background-size: cover;
    background-image: url("../images/kaufman-triangle.svg");
    z-index: 0;
}

.footer {
    margin: 0;
    width: 100%;
}

.footer__body {
    display: flex;
    flex-direction: column;
    background-color: #1f1f1f;
    justify-content: space-between;
}

.footer__columns {
    display: flex;
    width: 90%;
    margin: 60px auto 40px auto;
    justify-content: space-between;
    color: #f2f2f2;
}

.footer__column_content_copyright {
    flex-direction: column;
    display: flex;
    position: relative;
    width: 711px;
    flex-basis: 711px;
    justify-content: space-between;
}

.logo_place_footer {
    width: 183px;
    height: 35px;
}

.footer__author {
    display: flex;
    font-size: 18px;
    line-height: 25px;
    left: 0;
    bottom: 0;
    position: relative;
    margin: 18px 0;
}

.footer__column_content_info {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer__column-heading {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 20px;
}

.footer__column-links {
    display: flex;
    flex-direction: column;
    position: relative;
}

.footer__column-link {
    font-size: 18px;
    line-height: 30px;
    text-decoration: none;
    margin: 0;
    color: #f2f2f2;
}

.footer__colume_content_social {
    display: flex;
    flex-direction: column;
    position: relative;
}

.social-image {
    width: 16px;
    height: 16px;
    margin: 0 10px 0 0;
}

.footer__colume_content_social .footer__column-link {
    display: inline;
    white-space: nowrap;
}