.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height:100vh;
  display: flex;
  position: relative;
  max-height: 756px;
  min-height: 600px;
}

.logo{
  position: absolute;
  top: 30px;
  left: 64px;
  height: 32px;
  width: 183px;
  background-image: url("../images/logo_place_footer.svg");
  background-repeat: no-repeat;
  z-index: 100;
}

.title{
  margin: auto 64px;
  width: 730px;
  height: auto;
  z-index: 100;
  font-size: 102px;
  font-weight:bold;
  line-height: 96px;
}

.subtitle {
  position: absolute;
  bottom: 30px;
  left: 64px;
  width: 388px;
  z-index: 100;
  font-size: 18px;
  font-weight:normal;
  line-height: 25px;
}

.link {
  text-decoration: none;
}

.main-illustration {
  position: absolute;
  bottom: 0;
  right: 0;
  max-height: 608px;
  max-width: 765px;
  z-index: 90;
}

.square-pic {
  position: absolute;
  right: 0;
  top: 64px;
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  z-index: 80;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}
.description{
  display: flex;
  margin: 100px 0;
}

.two-colums{
  display: flex;
  width: 80%;
  min-width: 784px;
  margin: 0 auto;
}

.main-text{
  display: flex;
  flex-direction:column;
}

.brief{
  width: 175px;
  line-height: 1.2em;
  font-size: 18px;
  color: #2f80ed;
  padding-right: 50px;

}

.text:not(:last-child) {
  margin-bottom: 30px;
}

.text {
  margin-top: 0;
  line-height: 34px;
  font-size: 24px;
}
.text-bold{
  line-height: 34px;
  font-size: 24px;
  font-weight: bold;
}